*{
    margin:5px;
    margin-bottom: 0;
    box-sizing: border-box;
    background-color: #8cff90;
}
header{
    background-color:#bfffc1;
    height:80px;
    display: grid;
    place-items:center;
    border: 3px solid black;
    border-radius: 30px;
}
.headerp {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    background-color: #c6fec8;
}
footer {
    background-color:#c6fec8;
    height:80px;
    width:100%;
    display: grid;
    place-items:center;
    border: 3px solid black;
    border-radius: 30px;
    margin-top: 20px
}
footer ul {
    background-color: #c6fec8;
}
.footerli {
    list-style: none;
    margin: 5px;
    text-align: center;
    font-size: 15px;
    background-color: #c6fec8;
}
.footerli2 {
    list-style: none;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    background-color: #c6fec8;
}
nav {
    margin-top: 10px;
    margin-bottom: 40px;
    display: grid;
    height: 50px;
    position: relative;
}
nav li {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style:none;
    font-size:25px ;
    background-color:#c6fec8;
}
nav ul {
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color:#c6fec8;
    border: 3px solid black;
    border-radius: 30px;
}
a:hover {
    color:#5ed35e
}
a {
    color: black;
    background-color: #c6fec8;
    border: 3px solid black;
    border-radius: 10px;
}
@media screen and (min-width: 450px) {
.kuvaetu {
    height: 300px;
    width: 100%;
    
}
footer {
    width:100%;
}
}
@media screen and (max-width: 450px) {
.kuvaetu {
    width: 100%;
}
}

@media screen and (max-width: 600px) {
nav {
    width: 100%;
}
}
.kuvaetu {
margin-top: 220px;
height: 400px;
} 
.etup {
    font-size: 25px;
    margin-top: 220px;
    margin-bottom: 30px;
} 
@media screen and (min-width: 901px) {
    .kuvadiv {
        height: 300px;
        display: flex;
        margin-bottom: 320px;
    }
    .kuvaetu {
        width: 40%;
    }
    .etup {
        display:flex;
        margin-bottom: 0px;
        width: 70%;
        
    }
}
@media screen and (max-width: 900px) {
.etup {
    margin-top:0;
}
}
.otsik {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}
.majp {
    margin-top: 260px;
}
.majp p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.toimp {
    margin-top: 260px
}
.toimp p {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}    
.kuvatoi {
    display: flex;
}
@media screen and (max-width: 1101px) {
    .kuvatoi {
        width:0%
    }
}
.tilap {
    margin-top: 260px
}
.tilap p{
 margin-top: 10px;
 margin-bottom: 10px;
}
@media screen and (max-width: 601px) {
    .tilaimg {
        width: 100%;
    }
}

.tilaimg {
    height: 400px;
}
.yhtep {
    margin-top: 260px;
}
.yhtep p{
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
}
.ruokp {
    margin-top: 260px
}
.ruokp p {
    margin-top: 20px;
    margin-bottom: 10px
}
.face {
    width:200px;
    height:168px;
}
@media screen and (max-width: 629px) {
    .ruokimg {
        width: 0%;
    }
}
